<div style="padding: 10px" class="mat-elevation-z8">
  <button mat-button type="button" style='color: rgb(65, 63, 63);' (click)="leggTilElement()" class="mat-elevation-z8">Legg til utdanning
    <mat-icon>add_box</mat-icon>
  </button>
</div>


<!--
<mat-card *ngFor="let element of kandidat?.cv_poster;" class="mat-elevation-z24" style="margin: 5px; border: solid #bbb"
  >
-->




  <mat-card *ngFor="let element of kandidat?.cv_poster;" class="mat-elevation-z24" style="margin: 5px; border: solid #bbb"
  [style.display]="vise(element)">
  
  <app-cv-utdanning [objekt]="element" (cvEndring)="cvEndring($event)" class="mat-elevation-z5" *ngIf="element.type_post=='utdanning'"></app-cv-utdanning>
</mat-card>