/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  

  .example-card {
  /*  width: 600px;*/
  }
  
  .container{
    display: flex;
    width: 100%;
  }
  .left{
    width: 40%;
  }

  .right{
    width: 60%;
  }


  .highlight{
    background: rgb(233, 243, 234); /* green */
  }

  .highlight:hover{
    background: rgb(163, 168, 163); /* green */
    cursor: pointer;
  }
  

  .example-container2 {
    display: flex;
    flex-direction: column;
    padding:10%;

  }
  
  .example-container2 > * {
    width: 100%;
  }

  .button-div {
    display: flex;
  }

  
  .button-div button{
    margin: 3%;
  }
 

  .align_to_right{
    flex: 1 1 auto;
}

.example-section {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 60px;
}