mat-cell { font-size: 0.9em;  } 


.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}


.align_to_right{
  flex: 1 1 auto;
}


.mat-table {
  display: table;
  width: 100%;

  > .mat-header-row, > .mat-row {
      display: table-row;
      padding: 0;
      border: none;

      > .mat-header-cell, > .mat-cell {
          display: table-cell;
          height: 48px;
          vertical-align: middle;

          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      }
  }
}





  .liten-knapp:hover{
    background: none;
    color: #9c8181;
    transition: 0.50s;
    cursor: pointer;
  }

  
  .liten-knapp{
      min-height: 15px !important;
      min-width: 20px !important;
      font-size: 5px !important;
      line-height: 6px; 
    }
    
  
      .highlight{
        background: rgb(233, 243, 234); /* green */
      }
    
      .highlight:hover{
        background: rgb(163, 168, 163); /* green */
        cursor: pointer;
      }
      
