<div class="container">
  <mat-card class="left">
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="left">
    <mat-card-content>
      <div align="center">
        <h4>ÅR {{aar}}</h4>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="middle" style="padding: 0; margin:0">
    <mat-card-content style=" padding: 0; margin:0">


      <div align="center">
        <button mat-raised-button class="liten-knapp" (click)="navigerMaaned('ned_ett_aar')">
          <div>
            << </div>
              <div> - 1 år</div>
        </button>

        <button mat-raised-button class="liten-knapp" (click)="navigerMaaned('ned')">
          <div>
            < </div>
              <div> 1 mnd.</div>
        </button>
        <mat-form-field style="width: 30%">
          <mat-select #mnd_ctrl (change)="navigerMaaned(mnd_ctrl.value)" [(value)]="maaned">
            <mat-option *ngFor="let option of lister.maanedsliste" [value]="option.nr">
              {{ option.navn }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button class="liten-knapp" (click)="navigerMaaned('opp')">
          <div> ></div>
          <div> + 1 mnd.</div>
        </button>
        <button mat-raised-button class="liten-knapp" (click)="navigerMaaned('opp_ett_aar')">
          <div> >></div>
          <div> + 1 år</div>
        </button>
        </div>
    </mat-card-content>
  </mat-card>



  <mat-card class="right" *ngIf="lister.harRolle('brakkerigg-rediger')" style=" padding: 0; margin:0">
    <mat-card-content style=" padding: 0; margin:0">
      <div class="mat-elevation-z8" *ngIf="utleie?.rig_id" style=" padding: 0; margin:0">
        <mat-grid-list cols="1" rowHeight="55px" style="width:100%" style=" padding: 0; margin:0">
          <mat-grid-tile style=" width:100% " colspan="1">
            <mat-form-field style="width:85%">
              <input matInput placeholder="utleid_til" type="text" id="utleid_til" name="utleid_til" [ngModel]="utleie?.utleid_til" required
                #utleid_tilCtrl="ngModel" autocomplete="off">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="55px" style="width:100%" style=" padding: 0; margin:0">
          <mat-grid-tile style="width:15%" colspan="3">
            <mat-form-field style="width:50%">
              <input matInput [matDatepicker]="picker1" placeholder="fra_dato" [(ngModel)]="utleie.fra_dato" name="fra_dato" autocomplete="off" >
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile style="width:15%" colspan="3">
            <mat-form-field style="width:50%">
              <input matInput [matDatepicker]="picker2" placeholder="til_dato" [(ngModel)]="utleie.til_dato" name="til_dato" autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile style="width:15%">
            <button mat-raised-button (click)="lagre(utleid_tilCtrl)" [disabled]="utleid_tilCtrl.invalid" class="liten-knapp">
              <mat-icon>save</mat-icon>
              <div>Lagre</div>
            </button>
          </mat-grid-tile>
          <mat-grid-tile style="width:15%">
            <button mat-raised-button (click)="avbryt(form)" type="button" class="liten-knapp">
              <mat-icon>cancel</mat-icon>
              <div>Avbryt</div>
            </button>
          </mat-grid-tile>
          <mat-grid-tile style="width:15%">
            <button mat-raised-button (click)="slett(utleie)" type="button" class="liten-knapp">
              <mat-icon>delete</mat-icon>
              <div>Slett</div>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-card-content>
  </mat-card>

  </div>


  <!--
  <table style="border:solid 1px">
    <tr *ngFor="let utleie of utleier_denne_maaneden" style="border:solid 1px">
      <td style="border:solid 1px">{{utleie.id}}</td>
      <td style="border:solid 1px">{{utleie.navn}}</td>
      <td style="border:solid 1px">{{utleie.prefiks}}</td>
      <td style="border:solid 1px">
        <table *ngIf="utleie.utleier.length>0" style="border:solid 1px">
          <tr style="border:solid 1px"><td style="border:solid 1px">utleieenhet</td><td style="border:solid 1px">fra</td>
            <td style="border:solid 1px">til</td>
            <td style="border:solid 1px">antall</td>
            <td style="border:solid 1px">kommentar</td>
            <td style="border:solid 1px">gjest</td>
          </tr>
          <tr *ngFor="let t of utleie.utleier" style="border:solid 1px"><td style="border:solid 1px">{{t.rig.navn}}</td>
            <td style="border:solid 1px">{{t.fra_dato}}</td>
            <td style="border:solid 1px">{{t.til_dato}}</td>
            <td style="border:solid 1px">{{t.antall_overnattinger}}</td>
            <td style="border:solid 1px">{{t.kommentar}}</td>
            <td style="border:solid 1px">{{t.rig_gjest.navn}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
-->
  <!--------------------------------------------------------------------------------- - -->
	
 
  <div class="example-container mat-elevation-z8" style="width:80%; margin:10%">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let utleie of utleier_denne_maaneden">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon style="width:100px">assignment</mat-icon>

          </mat-panel-title>
          <mat-panel-description>
            {{utleie.navn}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button (click)="download(utleie?.id)">download </button>

        <table class="example-container mat-elevation-z8"  style="width:80%; margin:5%" >

          <tr   >
            <td>ENHET</td>
            <td>FRA</td>
            <td>TIL</td>
            <td>ANTALL</td>
            <td>KOMMENTAR</td>
            <td>NAVN</td>
          </tr>
          <tr *ngFor="let t of utleie.utleier" style="border:solid 1px">
            <td style="border:solid 1px">{{t.rig.navn}}</td>
            <td style="border:solid 1px;  white-space: nowrap">{{t.fra_dato}}</td>
            <td style="border:solid 1px; white-space: nowrap">{{t.til_dato}}</td>
            <td style="border:solid 1px; white-space: nowrap">{{t.antall_overnattinger}}</td>
            <td style="border:solid 1px; white-space: nowrap">{{t.kommentar}}</td>
            <td style="border:solid 1px; white-space: nowrap">{{t.rig_gjest.navn}}</td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>