<!--     
  [disabled]="inndatoCtrl.invalid||innlevertTilCtrl.invalid||innlevertAvCtrl.invalid"
-->

<div class="container">
  <mat-card class="example-card left">
    <mat-card-header>

      <mat-card-title>INNLEVERING</mat-card-title>
      <span class="align_to_right"></span>
      <!--
      <button mat-raised-button class="liten-knapp" (click)="lagre(innlevertAvCtrl1,innlevertTilCtrl1)" [disabled]="innlevertTilCtrl1.invalid||innlevertAvCtrl1.invalid"
        *ngIf="lister.harRolle('verktøy-rediger')">
      -->
      <button mat-raised-button class="liten-knapp" (click)="lagre(innlevertAvCtrl1,innlevertTilCtrl1)" *ngIf="lister.harRolle('verktøy-rediger')">

        <mat-icon>save</mat-icon>
        <div>Lagre</div>
      </button>
      <button mat-raised-button class="liten-knapp" (click)="avbryt()" *ngIf="lister.harRolle('verktøy-rediger')">
        <mat-icon>cancel</mat-icon>
        <div>Avbryt</div>
      </button>
      <button mat-raised-button class="liten-knapp" (click)="skrivUtDialog()">
        <mat-icon>print</mat-icon>
        <div>Skriv ut</div>
      </button>


    </mat-card-header>
    <mat-card-content>
      <div class="example-header">

        <mat-grid-list cols="6" rowHeight="25px">
          <mat-grid-tile>
            <strong>Utlevert av:</strong>
          </mat-grid-tile>
          <mat-grid-tile>
            <em>{{redigerObjekt?.utlevert_av}}</em>
          </mat-grid-tile>
          <mat-grid-tile>
            <strong>Utlevert til:</strong>
          </mat-grid-tile>
          <mat-grid-tile>
            <em>{{redigerObjekt?.utlevert_til}}</em>
          </mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="6" rowHeight="25px">
          <mat-grid-tile>
            <strong>Prosjektnr:</strong>
          </mat-grid-tile>
          <mat-grid-tile>
            <em>{{redigerObjekt?.prosjekt_id}}</em>
          </mat-grid-tile>
          <mat-grid-tile>
            <strong>Prosjekt:</strong>
          </mat-grid-tile>
          <mat-grid-tile>
            <em>{{redigerObjekt?.prosjektnavn}}</em>
          </mat-grid-tile>
          <mat-grid-tile>
            <strong>Utlevert:</strong>
          </mat-grid-tile>
          <mat-grid-tile>
            <em>{{konvDato(redigerObjekt?.fra_dato)}}</em>
          </mat-grid-tile>
        </mat-grid-list>


      </div>

      <!--
      <div class="example-header">
        <mat-form-field>
          <input [disabled]="lagret" matInput placeholder="Innlevert av" type="text" id="innlevertAv" name="innlevertAv" [(ngModel)]="redigerObjekt.innlevert_av"
            required #innlevertAvCtrl1="ngModel">
        </mat-form-field>
        <mat-form-field>
          <input [disabled]="lagret" matInput placeholder="Innlevert til" type="text" id="utlevertTil" name="innlevertTil" [(ngModel)]="redigerObjekt.innlevert_til"
            required #innlevertTilCtrl1="ngModel">
        </mat-form-field>

        <mat-form-field>
          <input [disabled]="lagret" matInput [matDatepicker]="picker1" placeholder="Innleveringsdato" [(ngModel)]="redigerObjekt.til_dato" name="innleveringsdato"
            required #inndatoCtrl autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
      </div>
    -->


      <!-- ---------------------------------------------------------------------------------------------------------------- -->


      <div class="container1 mat-elevation-z8">


        <!------------------------------------------  Kommer en tabell her ------------------------ -->

        <mat-table #tablePlukk [dataSource]="dataSourcePlukk" matSort>


          <ng-container matColumnDef="navn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Navn </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element?.verktoy.navn}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ressursnummer">
            <mat-header-cell [ngClass]="'id'" *matHeaderCellDef mat-sort-header> Id&#46;nr </mat-header-cell>
            <mat-cell [ngClass]="'id'" *matCellDef="let element"> {{element?.verktoy.ressursnummer}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="verktoygruppe">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Verktøygruppe </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.verktoy.x_0}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="tilgjengelig">


            <mat-header-cell [ngClass]="'status'" *matHeaderCellDef mat-sort-header> Status </mat-header-cell>

            <mat-cell [ngClass]="'status'" *matCellDef="let element">
              <!--
                {{element?.tilgjengelig}} 
              -->

              <mat-form-field>
                <mat-select placeholder="Status" [(ngModel)]="element.verktoy.tilgjengelig" name="tilgjengelig">
                  <mat-option *ngFor="let option of lister.status" [value]="option.display">
                    {{option.display}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-cell>

          </ng-container>

          <ng-container matColumnDef="dato">

            <mat-header-cell [ngClass]="'dato'" *matHeaderCellDef mat-sort-header> Dato </mat-header-cell>
            <mat-cell [ngClass]="'dato'" *matCellDef="let element">
              <mat-form-field style="width:75px">
          
          
                <input matInput [matDatepicker]="picker1" placeholder="dato" [(ngModel)]="element.til_dato" name="til_dato" #til_datoCtrl>
          
          
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
            </mat-cell>
          </ng-container>





          <ng-container matColumnDef="reol">
            <mat-header-cell [ngClass]="'plassering'" *matHeaderCellDef mat-sort-header> Reol </mat-header-cell>
            <mat-cell [ngClass]="'plassering'" *matCellDef="let element"> {{element?.verktoy.x_2}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="hylle">
            <mat-header-cell [ngClass]="'plassering'" *matHeaderCellDef mat-sort-header> Hylle </mat-header-cell>
            <mat-cell [ngClass]="'plassering'" *matCellDef="let element"> {{element?.verktoy.x_3}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="plass">
            <mat-header-cell [ngClass]="'plassering'" *matHeaderCellDef mat-sort-header> Plass </mat-header-cell>
            <mat-cell [ngClass]="'plassering'" *matCellDef="let element"> {{element?.verktoy.x_4}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsPlukk"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsPlukk;" [ngClass]="'highlight'">
          </mat-row>
        </mat-table>
        <!-- Slutter her --------------------------------------------------------------------------- -->
      </div>

      <!-------------------------------------------------------------------------------------------------------------------------- -->


    </mat-card-content>

  </mat-card>
  <mat-card class="example-card right">
    <mat-card-header>
      <mat-card-title>UTLÅNSLISTER</mat-card-title>
      <mat-card-subtitle>Oversikt</mat-card-subtitle>
      <span class="align_to_right"></span>
    </mat-card-header>

    <mat-card-content>
      <div class="container1 mat-elevation-z8">
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="listenr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Listenr. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="prosjektnavn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Prosjektnavn </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.prosjektnavn}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="prosjekt_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Prosjektid </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.prosjekt_id}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="utlevert_til">
            <mat-header-cell *matHeaderCellDef mat-sort-header> utlevert til </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.utlevert_til}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="utlevert_av">
            <mat-header-cell *matHeaderCellDef mat-sort-header> utlevert av </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.utlevert_av}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="innlevert_til">
            <mat-header-cell *matHeaderCellDef mat-sort-header> innlevert til</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.innlevert_til}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="innlevert_av">
            <mat-header-cell *matHeaderCellDef mat-sort-header> innlevert av </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.innlevert_av}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fra_dato">
            <mat-header-cell *matHeaderCellDef mat-sort-header> fra dato </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{konvDato(element?.fra_dato)}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="til_dato">
            <mat-header-cell *matHeaderCellDef mat-sort-header> til dato </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{konvDato(element?.til_dato)}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" class="highlight" (click)=aapneElement(row)>

          </mat-row>

        </mat-table>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 100]">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>