/* mat-cell { font-size: 0.9em;  }*/ 


table{
    padding: 0px;
    
    }
      
      mat-form-field{
        width:100% !important;
        padding: 2px !important;  
        font-size: 0.9em !important; 
        transform: perspective(1px); 
      }
    
                  
      
      