<div class="grid-container">
  <div class="item1">
    <div style="padding:2px;background-color: #6ab552">UTLEID</div>
    <div style="padding:2px;background-color: 	#83afcd">RENGJORT</div>
    <div style="padding:2px;background-color: 	#ababab">IKKE RENGJORT</div>
  </div>

  <div class="item2">
    <h4>ÅR {{aar}}</h4>
  </div>
  <div class="item3">
    <button mat-raised-button class="liten-knapp" (click)="navigerMaaned('ned_ett_aar')" style="width: 100%;   border-radius: 5px;">
      << år</button>
  </div>
  <div class="item4">
    <button mat-raised-button class="liten-knapp" (click)="navigerMaaned('ned')" style="width: 100%;   border-radius: 5px;">
      < mnd</button>
  </div>
  <div class="item5">


    <select #mnd_ctrl (change)="navigerMaaned(mnd_ctrl.value)" [(value)]="maaned" style="width: 100%;   border-radius: 5px;">
      <option *ngFor="let option of lister.maanedsliste" [value]="option.nr">
        {{ option.navn }}
      </option>
    </select>

  </div>


  <div class="item6">
    <button mat-raised-button class="liten-knapp" (click)="navigerMaaned('opp')" style="width: 100%;   border-radius: 5px;">> mnd</button>
  </div>
  <div class="item7">
    <button mat-raised-button class="liten-knapp" (click)="navigerMaaned('opp_ett_aar')" style="width: 100%;   border-radius: 5px;">>> år</button>
  </div>
  <div class="item8">

    <div class="mat-elevation-z8" *ngIf="utleie?.rig_id" style=" padding: 0; margin:0">

      <!--   customize the height of the .mat-list-item to be larger and not cut off the -->
     
      <table style="width:100%">
        <tr>
          <td>
            <!--
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <div class="example-container mat-elevation-z8" style="position: fixed; z-index:10000" 
            *ngIf="sokeliste">
              <mat-table #table [dataSource]="dataSource" matSort >
                <ng-container matColumnDef="navn">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="display: none"> Navn </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element?.navn}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="kunde" matSort>
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="display: none"> Kunde </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element?.kundenavn}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="highlight" (click)=settKunde(row)>
                </mat-row>
              </mat-table>

            </div>
          


          <input list="browsers">
          
          <datalist id="browsers">
            <option value="Internet Explorer">
            <option value="Firefox">
            <option value="Google Chrome">
            <option value="Opera">
            <option value="Safari">
          </datalist>
    
        -->
        </td>
          <tr>
        <td>





              <mat-form-field>
                <mat-select placeholder="Gjest" [(ngModel)]="utleie?.rig_gjest.id" name="gjest" #utleid_tilCtrl>
                  <mat-option *ngFor="let option of gjester" [value]="option.id">
                    {{option.navn}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td colspan="4">
              <mat-form-field style="width:80%">
                <input matInput placeholder="Kommentar" type="text" id="kommentar" name="kommentar" [ngModel]="utleie?.kommentar" #kommentarCtrl="ngModel" autocomplete="off">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field style="width:50%">
                <input matInput [matDatepicker]="picker1" placeholder="fra_dato" [(ngModel)]="utleie.fra_dato" name="fra_dato" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field style="width:50%">
                <input matInput [matDatepicker]="picker2" placeholder="til_dato" [(ngModel)]="utleie.til_dato" name="til_dato" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <button mat-raised-button (click)="lagre(utleid_tilCtrl,kommentarCtrl)" [disabled]="utleid_tilCtrl.invalid" class="liten-knapp">
                <mat-icon>save</mat-icon>
                <div>Lagre</div>
              </button>
            </td>
            <td>
              <button mat-raised-button (click)="avbryt(form)" type="button" class="liten-knapp">
                <mat-icon>cancel</mat-icon>
                <div>Avbryt</div>
              </button>
            </td>
            <td>
              <button mat-raised-button (click)="slett(utleie)" type="button" class="liten-knapp">
                <mat-icon>delete</mat-icon>
                <div>Slett</div>
              </button>
            </td>
          </tr>

      </table>

    </div>
  </div>
</div>

<!--  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  -->









<!-- ------------------------------------------------------------------------------------ -->


<div style=" height : 600px; overflow : auto; ">
  <div style="
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    ">
    <mat-grid-list [cols]="kolonner" rowHeight="28px" gutterSize="1.5px">
      <mat-grid-tile *ngFor="let tile of datoer1" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">{{tile.text}}
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-grid-list [cols]="kolonner" rowHeight="28px" gutterSize="1.5px">
    <mat-grid-tile *ngFor="let tile of tileveggen" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color"
      (click)="aapne(tile)">{{tile.text}}</mat-grid-tile>
  </mat-grid-list>
</div>